body{
    background-color:#DA0501;
    background-image: url("../img/index/body_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    padding:0;
    margin-top:80px;
}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    color:#fff;
    text-decoration:none;
}
a:hover{
    color:#E5BA30;
}
img{
    vertical-align:middle;
}
.clear:after{
    content:"";
    display:block;
    clear:both;
}
.lf { float:left;}
.rt { float:right;}
/*导航栏修饰*/
.navbar-inverse{
    background:#6F060A;
    border-color:#6F060A;
}
.navbar-inverse .navbar-text{
    color:#fff;
}

.my-logo+span{
    font-size:1.5em;
}
/*修饰logo图片*/
.my-logo{
    width:56px;
    height:59px;
    background:url("../img/index/logo.png") no-repeat;
    margin-top:5px;
    margin-bottom:5px;
}
#menu{
    margin-top:1%;
}
.my-logo+span{
      display:inline-block;
      margin-top:8%;
      /*margin-left:2%;*/
  } 
@media screen and (max-width:767px){
  .my-logo+span{
      display:inline-block;
      margin-top:5%;
      margin-left:2%;
  } 
  .navbar-toggle{
      margin-top:5%;
  }
}